.Chapitre{
    background-color:rgb(124, 196, 130);
}

.chapitre{
    background-color:rgb(235, 218, 192);
    width: 50%;
    height: 300px;
    margin-bottom: 20px ;
}

.billet{
    overflow: hidden;
    background-color: sandybrown;
    height: 275px;
    
}

.commentaire{
    background-color: salmon;
    width: 50%;
    height: 100px;
}

.nouveauBillet{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;

}